#info {
    min-height: 100vh;
    background: url('../images/main/info.jpg') no-repeat fixed center;
    background-size: cover;

    .info-container {
        min-height: 100vh;

        .overlay {
            min-height: 100vh;
            background-color: rgba(0, 0, 0, 0.8);

            .container {
                height: 100%;
                padding-top: 100px;
                padding-bottom: 100px;

                .col-sm-4 {
                    padding: 20px;

                    .info-items {
                        .item-icon {
                            font-size: 30px;
                            color: $secondary-color;
                        }

                        .item-text {
                            h4 {
                                letter-spacing: 1px;
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
            }

            h1 {
                color: $color-light;
                text-align: center;
                margin-bottom: 60px;
            }

            .info-items {
                color: $color-light;
            }
        }
    }
}

@media (max-width: 576px) {
    .container {
        padding: 20px 40px;

        h1 {
            font-size: 3rem;
        }
    }

    .info-items {
        text-align: center;
    }
}